
body {
  font-family: "IBM Plex Sans";
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Fira Sans, monospace;
}
.card {
  width: 200px;
}
.font-link {
  font-family: "Hanalei Fill", cursive;
}
